In [1]:
import pandas as pd
import numpy as np
from numpy.random import randn

## Multilevel index dataframes

In [10]:
outside = 'G1 G1 G1 G2 G2 G2'.split()
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)
#don't consider above code

In [12]:
df = pd.DataFrame(randn(6,2), hier_index, ['A','B'])
df

             A         B
G1 1 -1.730027  0.364364
   2 -0.488123  0.068195
   3 -0.518117  1.539043
G2 1 -1.629261 -0.666136
   2  0.107122 -0.825235
   3  0.602814  0.079041

In [17]:
df.loc['G1'].loc[1]

A   -1.730027
B    0.364364
Name: 1, dtype: float64

Setting index names (Row index names obviously. 'also done automatically in previous notebook when used states for indexing')

In [20]:
df.index.names = ['Group', 'Number']
df

                     A         B
Group Number
G1    1      -1.730027  0.364364
      2      -0.488123  0.068195
      3      -0.518117  1.539043
G2    1      -1.629261 -0.666136
      2       0.107122 -0.825235
      3       0.602814  0.079041

## Cross-section function

In [21]:
df.xs('G1')

               A         B
Number
1      -1.730027  0.364364
2      -0.488123  0.068195
3      -0.518117  1.539043

In [22]:
df.xs(1, level='Number')

              A         B
Group
G1    -1.730027  0.364364
G2    -1.629261 -0.666136