In [10]:
import numpy as np
import pandas as pd
from numpy.random import randn

## Creating DataFrames

In [9]:
df = pd.DataFrame(randn(5,4), ['A', 'B', 'C', 'D', 'E'], ['W', 'X', 'Y', 'Z'])
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

## Accessing DataFrames

In [13]:
df['W']
# You can access comlumns only by this way.

A    0.302665
B   -0.134841
C    0.807706
D   -0.497104
E   -0.116773
Name: W, dtype: float64

In [14]:
type(df['W'])

pandas.core.series.Series

In [15]:
df[['W', 'X']]

          W         X
A  0.302665  1.693723
B -0.134841  0.390528
C  0.807706  0.072960
D -0.497104 -0.754070
E -0.116773  1.901755

In [54]:
type(df[['W', 'X']])

pandas.core.frame.DataFrame

In [55]:
#To access rows in the dataframe

In [50]:
df.loc['A']

W    0.302665
X    1.693723
Y   -1.706086
Z   -1.159119
Name: A, dtype: float64

In [51]:
df.iloc[0]

W    0.302665
X    1.693723
Y   -1.706086
Z   -1.159119
Name: A, dtype: float64

In [52]:
df.loc['B','Y']

0.16690463609281317

In [53]:
df.loc[['B','C'], ['W','Y']]

          W         Y
B -0.134841  0.166905
C  0.807706  0.638787

## DataFrame manipulation

In [36]:
df['new'] = df['Y'] + df['Z']
df

          W         X         Y         Z       new
A  0.302665  1.693723 -1.706086 -1.159119 -2.865205
B -0.134841  0.390528  0.166905  0.184502  0.351406
C  0.807706  0.072960  0.638787  0.329646  0.968433
D -0.497104 -0.754070 -0.943406  0.484752 -0.458655
E -0.116773  1.901755  0.238127  1.996652  2.234779

In [37]:
df.drop('new', axis=1, inplace=True)
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [38]:
df.drop('E', axis=0)

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752

In [41]:
df.shape

(5, 4)